
{% extends 'base.html'%}
{%block title %}
    Stats
{% endblock %}
{%block home_current%}
    <span class="sr-only">(current)</span>
{%endblock%}
{%block content%}
<style>

</style>
<div style=" margin-top:50px;">
    <h1 style="margin-left:50px; font-size:200%;">Music style evolution:</h1>
        <div>
            <image src="{{genre_file}}" style="width:100%; max-height=100%">
            </image>
        </div>
    </div>
    <br><br>
    <h1 style="margin-left:50px; font-size:200%;">Music duration evolution:</h1>
        <div>
            <image src="{{duration_file}}" style="margin-bottom:50px; width:100%; max-height=100%">
            </image>
        </div>
    </div>
{%endblock%}